@media (min-width:441px){
	/* 一般 */
	.about-size {
		font-size: 24px;
		font-weight: bold;
	}
	pre {
		font-size: 18px;
	}
}
@media (max-width:400px){
	/* 手機 */
	.about-size {
		font-weight: bold;
	}
}

/* 整個寬度 */
.about {
	width: 80%;
}

/* 團隊介紹 */
.about-img {
	width: 100%;
}

#team {
	position: relative;
}
.team-name {
	width: 80%;
}
.team-introduce {
	width: 90%;
}

/* 個人介紹 */
img.introduce {
	width: 200px;
}

.introduce {
	text-align: left;
}
@media (max-width:400px){
	/* 手機 */
	.introduce {
		width: 62%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

/* link */
a, a:visited {
	text-decoration: none;
	color: black;
}
a:hover, a:active {
	text-decoration: none;
	cursor: pointer;
	color: #6280a1;
}

/* plan */
#img-plan1 {
	position: absolute;
	left: 13.5%;
	top: 34%;
	width: 8%;
}
#img-plan2 {
	position: absolute;
	left: 26%;
	top: 33%;
	width: 8%;
}
#img-plan3 {
	position: absolute;
	left: 40%;
	top: 34%;
	width: 9%;
}
#img-plan4 {
	position: absolute;
	left: 59.5%;
	top: 28%;
	width: 8%;
	height: 15%;
}
#img-plan5 {
	position: absolute;
	left: 75%;
	top: 29.5%;
	width: 8%;
	height: 13%;
}
#img-plan6 {
	position: absolute;
	left: 81.5%;
	top: 13%;
	width: 10%;
}

/* 賴子安 */

@media (min-width:992px){
	/* 一般 */
	#name-plan6 {
		position: absolute;
		left: 93%;
		top: 11%;
		color: white;
	}
}
@media (max-width:991px){
	/* 手機 */
	#name-plan6 {
		position: absolute;
		left: 93%;
		top: 3%;
		color: white;
	}
	.team-name li {
		width: 11%;
	}
}

#name-plan6:hover {
	color: #6280a1;
}

/* program */
#img-program1 {
	position: absolute;
	left: 14%;
	top: 17%;
	width: 7%;
}
#img-program2 {
	position: absolute;
	left: 21%;
	top: 21%;
	width: 6%;
}
#img-program3 {
	position: absolute;
	left: 30%;
	top: 18%;
	width: 7%;
}
#img-program4 {
	position: absolute;
	left: 40%;
	top: 16%;
	width: 6%;
}
#img-program5 {
	position: absolute;
	left: 51.5%;
	top: 20%;
	width: 7%;
}
#img-program6 {
	position: absolute;
	left: 66%;
	top: 16.5%;
	width: 7%;
}
#img-program7 {
	position: absolute;
	left: 73.5%;
	top: 15%;
	width: 6%;
}
#img-program8 {
	position: absolute;
	left: 81%;
	top: 19.5%;
	width: 6%;
}

/* execute */
#img-execute1 {
	position: absolute;
	left: 29%;
	top: 37%;
	width: 11%;
}
#img-execute2 {
	position: absolute;
	left: 57%;
	top: 8%;
	width: 12%;
}

/* art */
#img-art1 {
	position: absolute;
	left: 12%;
	top: 33%;
	width: 6%;
}
#img-art2 {
	position: absolute;
	left: 24%;
	top: 30%;
	width: 6%;
}
#img-art3 {
	position: absolute;
	left: 41%;
	top: 29%;
	width: 6%;
}
#img-art4 {
	position: absolute;
	left: 55.5%;
	top: 34%;
	width: 6%;
}
#img-art5 {
	position: absolute;
	left: 70%;
	top: 33%;
	width: 6%;
}
#img-art6 {
	position: absolute;
	left: 88%;
	top: 28%;
	width: 6%;
}