/* 雜 */
/****************************************************/
@media (min-width:992px){
    /* 一般 */
    section {
      padding: 5em 0 0 0; /* 上左下右 */
    }
}
@media (max-width:991px){
    /* 手機 */
    section {
      padding: 50px 0;
    }
}
.navbar.navbar-ncufresh {
    background-color: transparent;
    transition: all ease 0.7s;
    -webkit-transition: all ease 0.7s;
    -moz-transition: all ease 0.7s;
}
/* 到最上面的連結 */
#totop {
    display:none;
}
@media (min-width:992px){
    /* 一般 */
    #totop:hover {
        background-color: #22ab82;
    }
    #totop {
        background-color: transparent;
        color: black;
        display: inline;
        position: fixed;
        bottom: 30px;
        right: 30px;
        z-index: 999;
        transition: all ease 0.7s;
        -webkit-transition: all ease 0.7s;
        -moz-transition: all ease 0.7s;
      }
}

/* 時間軸松鼠 */
#timeline .timeline-item .timeline-clickme {
    display: none;
}
@media (min-width:769px){
    #timeline .timeline-item .timeline-clickme {
        display: block;
        position: absolute;
        top: -30%;
        left: 53%;
    }
}

/* 四季主題給該死的時間軸 跟箭頭 */
.spring_c {
  background: #ff8e8e !important;
}
.summer_c {
  background: #456e7a !important;
}
.fall_c {
  background: #ff9800 !important;
}
.winter_c {
  background: #3076d2 !important;
}
#timeline.spring:before {
  background: #ff8e8e !important;
}
#timeline.summer:before {
  background: #456e7a !important;
}
#timeline.fall:before {
  background: #ff9800 !important;
}
#timeline.winter:before {
  background: #3076d2 !important;
}
.timeline-content.left.spring:before {
  border-left: 7px solid #ff8e8e !important;
}
.timeline-content.left.summer:before {
  border-left: 7px solid #456e7a !important;
}
.timeline-content.left.fall:before {
  border-left: 7px solid #ff9800 !important;
}
.timeline-content.left.winter:before {
  border-left: 7px solid #3076d2 !important;
}
.timeline-content.right.spring:before {
  border-right: 7px solid #ff8e8e !important;
}
.timeline-content.right.summer:before {
  border-right: 7px solid #456e7a !important;
}
.timeline-content.right.fall:before {
  border-right: 7px solid #ff9800 !important;
}
.timeline-content.right.winter:before {
  border-right: 7px solid #3076d2 !important;
}
/****************************************************/

/* 最上面第一塊 */
/****************************************************/
#logo {
    /*background-image: url("../img/home/background3.jpg");*/
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: white; /* 字的顏色 */
}
.blur {
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: rgba(0,0,0,0);
    background-image: -webkit-linear-gradient(rgba(0,0,0,0.4) 0%,rgba(0,0,0,.6) 75%,rgba(0,0,0,.8) 100%);
    background-image: linear-gradient(rgba(0,0,0,0.4) 0%,rgba(0,0,0,.6) 75%,rgba(0,0,0,.8) 100%);
}
@media (min-width:992px){
    /* 一般 */
    #logo {
      height: 100vh;
    }
    #logo img {
      width: 28vw;
    }
    #logo .intro-text {
      padding-top: 8vh;
      padding-bottom: 0;
    }
}
@media (max-width:991px){
    /* 手機 */
    #logo .intro-text {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
#logo h1 {
  font-size: 3em;
  margin-top: 0;
}
#logo .btn-circle {
    color: #fff;
    border: 2px solid #fff;
    padding: 1em;
    background-color: transparent;
    border-radius: 100%;
    width: 5.3em;
    height: 5.3em;
    /*width: 80px;
    height: 80px;*/
}
/* 往下拉的動畫 */
#logo .btn-circle:hover {
    background-color: rgba(255, 255, 255, 0.1);
    animation: mymove 0.50s linear infinite alternate;
}
@keyframes mymove {
    from {font-size: 1em;}
    to {font-size:1.2em;}
}
/****************************************************/

/* 真正第二塊 放公告廣告那 */
/****************************************************/
#news .btn-down {
    color: black;
    border-radius:50%;
    padding-left:20.5px;
    padding-right:20.5px;
}
#news .btn-down:hover {
    background-color: transparent;
    transition: all ease 0.7s;
    -webkit-transition: all ease 0.7s;
    -moz-transition: all ease 0.7s;
}
#ann .list-group {
    margin-bottom: 15px;
    height: 400px;
    box-shadow: 0 0 10px #999;
    overflow-y:scroll;
}
/* 拉霸樣式 */
#ann ::-webkit-scrollbar {
    width: 0.25em;
    background-color: #F5F5F5;
}
#ann ::-webkit-scrollbar-track {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
#ann ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #616161;
}
#ann a {
    text-decoration: none;
}
#ann .list-group {
    padding-top: 21px;
}
#ann .list-group-item {
    padding: 16px;
}
#ann .list-group-item i {
    background-color: transparent;
    color: #fff;
    font-size: 26px;
}
@media (min-width:992px){
    /* 手機 */
    #ann .list-group-item:hover {
        background-color: rgba(0, 0, 0, 0.1);
        transition: all ease 0.8s;
        -webkit-transition: all ease 0.8s;
        -moz-transition: all ease 0.8s;
    }
}
#ann .list-group-item p {
    color: black;
}
/****************************************************/

/* 複製來的carousel */
/* http://codepen.io/yoanmarchal/pen/avGzBm */
/****************************************************/
.carousel {
  height: 400px;
  width: auto;
  margin: 0 auto;
}
.carousel figure {
  height: 400px;
  background-size: cover;
  position: relative;
}
.carousel figure::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
  opacity: 0;
  will-change: opacity;
  -webkit-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}
.carousel-inner {
  border-radius: 3px;
}
.carousel .carousel-control {
  fill: #fff;
  background-image: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(0);
          transform: translate(0);
  will-change: transform;
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
  opacity: 1;
}
.carousel .carousel-control.left {
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
}
.carousel .carousel-control.right {
  -webkit-transform: translate(100%);
          transform: translate(100%);
}
.carousel .carousel-control svg {
  height: 64px;
}
.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 30px;
  text-align: right;
}
.carousel-indicators li {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
}
.carousel-indicators li.active {
  background-color: white;
  border: 1px solid white;
}
.carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 25px;
  color: #fff;
  text-align: left;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  will-change: transform;
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
  font-size: 3em;
  margin: 0;
}
.carousel-caption::first-letter {
  text-transform: uppercase;
}
@media (min-width:992px){ /* 為了不撞元素 */
  .carousel .carousel-control.left, .carousel .carousel-control.right {
    display: none;
  }
}
.carousel:hover .carousel-control.left, .carousel:hover .carousel-control.right {
  display: flex; /* 為了不撞元素 */
  -webkit-transform: translate(0);
          transform: translate(0);
}
.carousel:hover figure::before {
  opacity: 1;
}
.carousel:hover figure .carousel-caption {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
/****************************************************/

/* 直接複製 */
/* https://codepen.io/lovenery/pen/kXEopy */
/****************************************************/
#timeline .timeline-item:after, #timeline .timeline-item:before {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#timeline {
  margin: 0;
  padding: 0;
  line-height: 20px;
  font-size: 14px;
  color: #726f77; /*字的顏色*/
}

#about .container {
  max-width: 1100px;
  margin: 0 auto;
}

#timeline {
  width: 100%;
  margin: 30px auto;
  position: relative;
  padding: 0 10px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#timeline:before {
  content: "";
  width: 3px;
  height: 100%;
  background-color: transparent; /* 線線顏色 */
  left: 50%;
  top: 0;
  position: absolute;
}
#timeline:after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}
#timeline .timeline-item {
  margin-bottom: 50px;
  position: relative;
}
#timeline .timeline-item .timeline-icon {
  background-color: transparent; /* icon顏色 */
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  margin-left: -23px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#timeline .timeline-item .timeline-icon svg {
  position: relative;
  top: 14px;
  left: 14px;
}
#timeline .timeline-item .timeline-icon i {
  color: white;
  position: relative;
  top: 13px;
  left: 13px;
}
#timeline .timeline-item .timeline-content {
  width: 45%;
  background: #fff;
  padding: 20px;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#timeline .timeline-item .timeline-content h2 {
  padding: 15px;
  background-color: transparent; /* 標題顏色 */
  color: #fff;
  margin: -20px -20px 0 -20px;
  font-weight: 300;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#timeline .timeline-item .timeline-content p {
  padding-top: 20px;
}
#timeline .timeline-item .timeline-content:before {
  content: '';
  position: absolute;
  left: 45%;
  top: 20px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid transparent; /* 左箭頭顏色 */
}
#timeline .timeline-item .timeline-content.right {
  float: right;
}
#timeline .timeline-item .timeline-content.right:before {
  content: '';
  right: 45%;
  left: inherit;
  border-left: 0;
  border-right: 7px solid transparent; /* 右箭頭顏色 */
}

@media screen and (max-width: 768px) {
  #timeline {
    margin: 30px;
    padding: 0px;
    width: 90%;
  }
  #timeline:before {
    left: 0;
  }
  #timeline .timeline-item .timeline-content {
    width: 90%;
    float: right;
  }
  #timeline .timeline-item .timeline-content:before, #timeline .timeline-item .timeline-content.right:before {
     left: 10%;
     /* bug
     margin-left: -6px;
     border-left: 0;
     border-right: 7px solid #181717;*/
   }
  #timeline .timeline-item .timeline-icon {
    left: 0;
  }
}
/****************************************************/
