.vertical-middle {
    min-height: 100vh;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}


/* middle button */

.btn-custom {
    font-size: 3vw;
    width: 100%;
    height: 16.5vmax;
    line-height: 16.5vmax;
    margin: 0;
    padding: 0;
    text-align: center;
}

@media (max-width: 767px) {
    .btn-custom {
        font-size: 6vw;
        height: 20vmax;
        line-height: 20vmax;
    }
}

.btn-wrapper {
    position: relative;
}

.btn-mouseenter {
    color: rgba(102, 76, 0, 1);
    position: absolute;
    width: 100%;
    border-radius: 3px;
    background-color: rgba(255, 150, 0, 0.5);
}

.btn-cover-bottom {
    color: rgba(102, 76, 0, 1);
    position: absolute;
    width: 100%;
    border-radius: 3px;
    background-color: rgba(102, 76, 0, 1);
}

.btn-mouseleave {
    color: rgba(102, 76, 0, 1);
    position: absolute;
    width: 100%;
    border-radius: 3px;
    background-color: rgba(255, 255, 0, 0.5);
    display: none;
}

.btn-txt {
    color: rgba(102, 76, 0, 1);
}

.col-padding-custom {
    padding: 1vmin;
}


/* top image setting */

img#openLeft,
img#openRight {
    width: 25vw;
    padding-top: 2vw;
}

@media (max-width: 767px) {
    img#openLeft,
    img#openRight {
        width: 40vw;
        padding-top: 2vw;
    }
}

img#openLeft {
    padding-right: 2vw;
}

img#openRight {
    padding-left: 2vw;
}


/* side navbar image setting */

.side-nav>li>a>img {
    width: 20vw;
}

.side-nav>li>a {
    margin: 20px 0;
}

@media (min-width: 768px) {
    .side-nav>li>a>img {
        width: 23vw;
    }
}

@media (min-width: 992px) {
    .side-nav>li>a>img {
        width: 15vw;
    }
}


/*--- @override bootstrap.css ---*/

.dropdown-menu {
    font-size: 19px;
}

.navbar {
    margin-bottom: 0;
}

.col-fluid {
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}


/*--- @override layout.css ---*/

footer {
    height: 0;
}


/* 底部畫面 margin-bottom */

#bottomScreen {
    margin-bottom: 100px;
}


/* 側邊導覽列的顏色 */

.side-nav-title {
    color: orange;
    font-size: 4vw;
}

.inner-page-title {
    text-align: center;
    font-size: 4vw;
}

@media (max-width: 767px) {
    .side-nav-title,
    .inner-page-title {
        font-size: 7vw;
    }
}


/* 綜合畫面下拉式選單的位置 */

.dropdown-menu-custom {
    top: -1%;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 0, 1);
}

.dropdown-menu-custom>li {
    border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
}

.dropdown-menu-custom>li:last-child {
    border-bottom: 0;
}


/* hidden until open */

#rightScreen {
    display: none;
}


/*--- scrollspy and affix effects ---*/

body {
    margin-bottom: 0px;
    display: none;
}

h1,
h2 {
    font-weight: 700;
}

.jumbotron {
    overflow: hidden;
    border-radius: 0;
    margin-bottom: 0;
    /* @override bootstrap.css */
    padding: 0;
    background-color: transparent;
}

.side-nav>li>a {
    padding: 0;
}
