/* height */

#outerLeftSidebar,
#outerRightSidebar,
#leftScreen,
#rightScreen {
    min-height: 100vh;
}


/* middle button */

.btn-custom {
    font-size: 3vw;
    width: 100%;
    height: 16.5vmax;
    line-height: 16.5vmax;
    margin: 0;
    padding: 0;
    text-align: center;
}

.btn-wrapper {
    position: relative;
}

.btn-mouseenter {
    color: rgba(102, 76, 0, 1);
    position: absolute;
    width: 100%;
    border-radius: 3px;
    background-color: rgba(255, 150, 0, 0.5);
}

.btn-cover-bottom {
    color: rgba(102, 76, 0, 1);
    position: absolute;
    width: 100%;
    border-radius: 3px;
    background-color: rgba(102, 76, 0, 1);
}

.btn-mouseleave {
    color: rgba(102, 76, 0, 1);
    position: absolute;
    width: 100%;
    border-radius: 3px;
    background-color: rgba(255, 255, 0, 0.5);
    display: none;
}

.btn-txt {
    color: rgba(102, 76, 0, 1);
}

.col-xs-4 {
    padding: 5px;
}

@media (min-width: 768px) {
    .col-xs-4 {
        padding: 15px;
    }
}

@media (min-width: 992px) {
    .col-xs-4 {
        padding: 30px;
    }
}


/* top image setting */

img#openLeft,
img#openRight {
    width: 25vw;
    padding-top: 2vw;
}

img#openLeft {
    padding-right: 2vw;
}

img#openRight {
    padding-left: 2vw;
}


/* side navbar image setting */

.side-nav>li>a>img {
    width: 20vw;
}

.side-nav>li>a {
    margin: 20px 0;
}

@media (min-width: 768px) {
    .side-nav>li>a>img {
        width: 23vw;
    }
}

@media (min-width: 992px) {
    .side-nav>li>a>img {
        width: 15vw;
    }
}


/*--- @override bootstrap.css ---*/

.dropdown-menu {
    font-size: 19px;
}

.navbar {
    margin-bottom: 0;
}

.col-fluid {
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}


/*--- @override layout.css ---*/

footer {
    height: 0;
}


/* 底部畫面 margin-bottom */

#bottomScreen {
    margin-bottom: 100px;
}


/* 側邊導覽列的顏色 */

.side-nav-title {
    color: orange;
    font-size: 4vw;
}

.inner-page-title {
    text-align: center;
    font-size: 4vw;
}


/* 綜合畫面下拉式選單的位置 */

.dropdown-menu-custom {
    top: -1%;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 0, 1);
}

.dropdown-menu-custom>li {
    border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
}

.dropdown-menu-custom>li:last-child {
    border-bottom: 0;
}


/*--- 圓圈按鈕 ---*/

#topScreen,
#leftScreen,
#rightScreen {
    position: relative;
}

.little-button-container {
    position: relative;
}


/* smaller than 768px */

.little-button {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.btn-circle-container {
    border-radius: 100%;
    margin: 0 auto;
    width: 49px;
    height: 49px;
}

.btn-circle-outline {
    border-radius: 100%;
    margin: 0;
    width: 49px;
    height: 49px;
    border: 5px solid black;
}

.btn-circle {
    color: white;
    padding: 5px 0 0 0;
    margin: 0;
    border: 2px solid rgba(24, 24, 24, .8);
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 10px;
}


/* 圓圈按鈕的動畫 */

.btn-circle:hover {
    background-color: rgba(255, 255, 255, 0.1);
    animation: mymove 0.50s linear infinite alternate;
}

@keyframes mymove {
    from {
        font-size: 8px;
    }
    to {
        font-size: 11px;
    }
}


/* for fadeIn() animation */

#innerLeftPage-2,
#innerLeftPage-3,
#innerRightPage-2,
#innerRightPage-3 {
    display: none;
}

@media (min-width: 768px) {
    .btn-circle-container {
        width: 69px;
        height: 69px;
    }
    .btn-circle-outline {
        width: 69px;
        height: 69px;
        border: 5px solid black;
    }
    .btn-circle {
        padding: 10px 0 0 0;
        width: 60px;
        height: 60px;
        font-size: 12px;
    }
    @keyframes mymove {
        from {
            font-size: 11px;
        }
        to {
            font-size: 16px;
        }
    }
}

@media (min-width: 992px) {
    .btn-circle-container {
        width: 89px;
        height: 89px;
    }
    .btn-circle-outline {
        width: 89px;
        height: 89px;
        border: 5px solid black;
    }
    .btn-circle {
        padding: 15px 0 0 0;
        width: 80px;
        height: 80px;
        font-size: 16px;
    }
    @keyframes mymove {
        from {
            font-size: 14px;
        }
        to {
            font-size: 18px;
        }
    }
}


/* hidden until open */

#rightScreen {
    display: none;
}


/*--- scrollspy and affix effects ---*/

body {
    margin-bottom: 0px;
    display: none;
}

h1,
h2 {
    font-weight: 700;
}

.jumbotron {
    overflow: hidden;
    border-radius: 0;
    margin-bottom: 0;
    /* @override bootstrap.css */
    padding: 0;
    background-color: transparent;
}

.side-nav>li>a {
    padding: 0;
}
